<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kill_rear.mapper.generalmapper">
    
    <select id="queryOwnGeneralId" resultType="Integer">
        select own_general.general_id, 
               from own_general
               where own_general.account = #{account} 
    </select>
    
    <select id="queryAllGeneral" resultType="com.kill_rear.dao.GeneralDao">
        select * from generals
    </select>

    <select id="queryAllSkill" resultType="com.kill_rear.dao.GeneralSkillDao">
        select * from generalskill
    </select>

    <select id="querySkillById" resultType="com.kill_rear.dao.GeneralSkillDao">
        select * from generalskill 
            where generalskill.general_id = #{generalId}
    </select>
</mapper>