<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kill_rear.mapper.generalmapper">
    
    <select id="queryOwnGeneralId" resultType="Integer">
        select own_general.general_id, 
               from own_general
               where own_general.account = #{account} 
    </select>
    
    <!-- 通过id来查询武将 -->
    <select id="queryGeneralByid" resultType="com.kill_rear.dao.GeneralDao">
        select generals.general_id,
               generals.category,
               generals.name,
               generals.blood,
               generals.gimage,
               generalskill.general_skill_name,
               generalskill.audio
            from generals, generalskill
            where generals.general_id = #{generalId}
                and generalskill.general_id = generals.general_id
    </select>
</mapper>